*,*:after,*:before{
    border: none;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
    font-style: normal;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body{
    background: #f1f1f1;
}

main{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    #timer{
        transition: .3s ease all;
        &.hide{
            opacity: 0;
        }
    }
    #canvasCont{
        margin: auto;
        display: block;
        height: 25rem;
        width: 25rem;
        overflow: hidden;
        box-shadow: 0 0 5px 0 rgba(0,0,0,.33);
        canvas{
            margin: auto;
            display: block;
            height: 25rem;
            width: 25rem;
            image-rendering: -moz-crisp-edges;
            image-rendering: pixelated;
            cursor: crosshair;
            order: 0;
        }
        .vLine{
            border-left: 1px solid rgba(0,0,0,.33);
            position: absolute;
            height: 100%;
            top: 0;
            pointer-events: none;
        }
        .hLine{
            border-bottom: 1px solid rgba(0,0,0,.33);
            position: absolute;
            width: 100%;
            left: 0;
            pointer-events: none;
        }
    }
    h1{
        order: 1;
        text-align: center;
        margin: 1.5rem;
        padding: 1rem;
        font-size: 1.33rem;
    }
    form{
        order: 2;
        padding: 1rem;
        label{
            margin: auto;
            display: flex;
            flex-direction: column;
            max-width: 10rem;
            text-align: center;
            span{
                padding-bottom: 1rem;
            }
            input{
                padding: .5rem .25rem;
                text-align: center;
                font-size: 1.25rem;
            }
        }
        [type="color"],
        [type="submit"]{
            display: block;
            margin: auto;
        }
        [type="submit"]{
            padding: .5rem 1rem;
        }
    }
    #users{
        order: 2;
        ul{
            padding: .5rem 1rem;
            background: #fff;
            transform: rotate(180deg);
            li{
                margin: .5rem auto;
                text-align: center;
                transform: rotate(-180deg)
            }
        }
    }
    #online{
        order: 2;
        padding: 0 2rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        div{
            margin: .5rem;
            div{
                height: 2rem;
                width: 2rem;
                margin: .5rem auto;
            }
        }
    }
}