<% include ../partials/header.ejs %>
<main>
    <canvas height="100" width="100"></canvas>
    <div id="users">
        <form>
            <label for="username">
                <span>Who are you?</span>
                <input id="username" name="username" type="text">
            </label>
            <input type="color">
            <input type="submit" value="Submit">
        </form>
        <ul></ul>
        <div id="online">
        </div>
    </div>
</main>
<% include ../partials/footer.ejs %>