<% include ../partials/header.ejs %>
<main>
    <div id="canvasCont">
        <canvas height="30" width="30"></canvas>
    </div>
    <div id="online">
    </div>
    <div id="users">
        <form>
            <label for="username">
                <span>Who are you?</span>
                <input id="username" name="username" type="text">
            </label>
            <input type="color">
            <input type="submit" value="Submit">
        </form>
        <ul></ul>
    </div>
    <div id="snapshots"></div>
    <div id="timer" class="hide">
        <span>9</span>s to go!
    </div>
</main>
<% include ../partials/footer.ejs %>