*, *:after, *:before {
  border: none;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: sans-serif;
  font-style: normal;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  background: #f1f1f1; }

main {
  padding: 2rem;
  display: flex;
  flex-direction: column; }
  main canvas {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.33);
    margin: auto;
    display: block;
    height: 25rem;
    width: 25rem;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
    cursor: crosshair;
    order: 0; }
  main h1 {
    order: 1;
    text-align: center;
    margin: 1.5rem;
    padding: 1rem;
    font-size: 1.33rem; }
  main form {
    order: 2;
    padding: 1rem; }
    main form label {
      margin: auto;
      display: flex;
      flex-direction: column;
      max-width: 10rem;
      text-align: center; }
      main form label span {
        padding-bottom: 1rem; }
      main form label input {
        padding: .5rem .25rem;
        text-align: center;
        font-size: 1.25rem; }
    main form [type="color"],
    main form [type="submit"] {
      display: block;
      margin: auto; }
    main form [type="submit"] {
      padding: .5rem 1rem; }
  main #users {
    order: 2; }
    main #users ul {
      padding: .5rem 1rem;
      background: #fff;
      transform: rotate(180deg); }
      main #users ul li {
        margin: .5rem auto;
        text-align: center;
        transform: rotate(-180deg); }
  main #online {
    order: 2;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    main #online div {
      margin: .5rem; }
      main #online div div {
        height: 2rem;
        width: 2rem;
        margin: .5rem auto; }
